body{
    position: relative; 
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'header header header'
    '.      wrapper   .  '
    'footer footer footer';
    grid-row-gap: 2.5%;
}
@media (max-width: 1036px){

    body{
        grid-template-columns: .25fr 1fr .25fr; 
        grid-template-areas: 
        'header header header'
        '.      wrapper   .  '
        'footer footer footer';
    } 
}
@media (max-width: 635px){

    body{
        grid-template-columns: .05fr 1fr .05fr; 
        grid-template-areas: 
        'header header header'
        '.      wrapper   .  '
        'footer footer footer';
    } 
}